.main {
    width: 100%;
    margin: 150px 0;
}

.container {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    gap: 10px;
}

.container p {
    line-height: 1.5em;
    letter-spacing: 0.5px;
    font-size: x-large;
    font-weight: 400;
    color: var(--text-secondary);
}

.container h1 {
    font-size: 4rem;
    font-weight: 900;
    margin-top: 18px;
    color: var(--accent-primary);
    width: fit-content;
}

.container h2 {
    font-size: 3.5rem;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 25px;
    color: var(--accent-secondary);
    width: fit-content;
}

.container h1:hover {
    animation: bounce 1s ease;
}

@keyframes bounce {
    0% {
        transform: scale(1, 1);
    }
    10% {
        transform: scale(1.1, 0.9);
    }
    30% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.05, 0.95);
    }
    58% {
        transform: scale(1, 1);
    }
    65% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}

@media only screen and (max-width: 1150px) {
    .container {
        grid-template-columns: 1fr;
    }

    .right {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .main {
        margin: 100px 0;
    }

    .container {
        width: 100%;
        padding: 0 20px;
    }

    .container p {
        line-height: 1.3em;
    }

    .container h1 {
        font-size: 3.5rem;
    }

    .container h2 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 400px) {
    .container p {
        line-height: auto;
        font-size: large;
    }

    .container h1 {
        font-size: xx-large;
        margin-top: 15px;
    }

    .container h2 {
        font-size: x-large;
        margin-bottom: 20px;
        font-weight: 500;
    }
}
